/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 12rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.rowheight {
  min-height: 30rem;
  align-items: center;
}

.logo {
  font-size: 25px;
  fill: var(--ifm-font-color-base);;
  stroke: var(--ifm-font-color-base);;
}

.titlecol {
  margin-left: 10rem;
}

.title {
  text-align: left;
  font-size: 70px;
  font-weight: 700;
  color: var(--ifm-font-color-base);
}

.subtitle {
  text-align: left;
  font-size: 60px;
  font-weight: 500;
  color: var(--ifm-font-color-base);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

