@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4125cb;
  --ifm-color-primary-dark: #3b21b7;
  --ifm-color-primary-darker: #371fad;
  --ifm-color-primary-darkest: #2e1a8e;
  --ifm-color-primary-light: #4c2fd9;
  --ifm-color-primary-lighter: #5439db;
  --ifm-color-primary-lightest: #6f58e0;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-family-base: 'Open Sans';
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #1871b0;
  --ifm-color-primary-dark: #15659e;
  --ifm-color-primary-darker: #115280;
  --ifm-color-primary-darkest: #0e466e;
  --ifm-color-primary-light: #197abf;
  --ifm-color-primary-lighter: #1b7abe;
  --ifm-color-primary-lightest: #1c89d7;
  --docusaurus-highlighted-code-line-bg: #1871b0;
}
